.navbar {
    overflow: hidden;
    background-color: lightgrey;
      color: black;
  }
  .navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .navbar a:hover {
    background-color: white;
    color: red;
  }
  .navbar a.active {
    background-color: #4CAF50;
    color: white;
  }
  .content {
    padding: 16px;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .sticky + .content {
    padding-top: 50px;
  }